*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: #242424;
    font-size: 10px;
    color: #fff;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: #cd0505;
}
